* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: green;
  font-size: 66.6%;
}

#cname {
    font-size: 1rem;

}

.div {
  font-size: 4rem;
}

input {
  width: 30rem;
  height: 3rem;
}

#Search {
  padding: 1rem;
}

.inpdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  border: 1px solid black;
  margin: 1rem;
  padding: 3rem;
  cursor: pointer;
}

.flagimg{
  width: 18rem;
  margin: 2rem;
}

.goBack {
  margin: 1rem;
  padding: .6rem;
  font-size: 1rem;
  background-color: green;
  color: white;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}


.container {
  height: 80vh;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;  
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}